body {
    background: #f4f6f9;
    font-family: Arial, sans-serif;
}

.login-box {
    width: 350px;
    margin: 120px auto;
    padding: 30px;
    background: white;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}

.login-box input {
    width: 90%;
    padding: 10px;
}

.login-box button {
    padding: 10px 20px;
    background: #0B5ED7;
    color: white;
    border: none;
    cursor: pointer;
}
